@charset "UTF-8";
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.cart-detail {
   /* display: flex;*/
    background-color: #f0f0f5;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 10px 0 20px 0;
}

.page-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    color: #333;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.product-image img {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.product-details {
    flex: 1;
    padding-left: 20px;
}

.product-name {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
}

.product-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.quantity {
    font-size: 14px;
    color: #333;
}

.quantity input {
    width: 50px;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.product-price {
    text-align: right;
}

.product-price span {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.remove-item {
    background-color: #dc3545;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.remove-item:hover {
    background-color: #c82333;
}

.cart-summary {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: right;
}

.cart-summary h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 16px;
    color: #333;
}

.total-price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.checkout-btn {
    background-color: #28a745;
    color: white;
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.checkout-btn:hover {
    background-color: #218838;
}