@charset "UTF-8";

.container-checkout {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    width: 550px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 10px;
}

.product-image img {
    max-width: 100px;
    border-radius: 5px;
    margin-right: 15px;
}

.product-details {
    flex-grow: 1;
}

.product-name {
    font-size: 18px;
    margin: 0;
    color: #007BFF;
}

.product-description {
    font-size: 14px;
    color: #555;
}

.quantity {
    font-size: 14px;
    color: #777;
}

.product-price {
    text-align: right;
}

.product-price span {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.remove-item {
    background: transparent;
    border: none;
    color: #dc3545;
    cursor: pointer;
}

.total-amount {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #007BFF;
    outline: none;
}
.card button[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.card button[type="submit"]:hover {
    background-color: #0056b3;
}


