@charset "UTF-8";
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.product-detail {
    display: flex;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 10px 0 20px 0;
}

.product-images {
	margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.main-image img {
    width: 300px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 25px;
    transition: transform 0.3s ease;
}

.main-image img:hover {
    transform: scale(1.1);
}

.thumbnails {
    display: flex;
    gap: 16px;
}

.thumbnails img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, border 0.3s ease;
}

.thumbnails img:hover {
    transform: scale(1.1);
    border: 2px solid #28a745;
}
.ratings-star {
	color: yellow;
	font-size: 25px;
	margin: 10px;
}

.product-info {
    margin-left: 40px;
    flex: 1;
    padding-left: 30px;
}

.product-title {
    font-size: 32px;
    margin: 10px 0 10px 0;
    font-weight: 600;
    color: #333;
}
.product-status {
	justify-content: center;
	background-color: #0275d8;
	color: white;
	margin: 0 10px;
	text-align: center;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.3s;
	text-decoration: none;
	margin-bottom: 10px;
}

.product-description {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
}

.product-price span {
    font-size: 28px;
    color: #333;
    font-weight: bold;
}

.add-to-cart-btn {
    background-color: #28a745;
    color: white;
    padding: 15px 25px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px;
}

.add-to-cart-btn:hover {
    background-color: #218838;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
}

/* Phần đánh giá sản phẩm */
.product-reviews {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 50px;
}

.product-reviews h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.review-summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.average-rating {
    text-align: center;
}

.average-rating h3 {
    font-size: 36px;
    margin-bottom: 10px;
}

.rating-distribution {
    width: 50%;
}

.rating-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rating-stars {
	color: yellow;
	font-size: 30px;
}

.rating-bar span {
    width: 60px;
   
}

.bar {
    background-color: #f0f0f0;
    width: 80%;
    height: 10px;
    margin: 0 10px;
    border-radius: 5px;
}

.fill {
    background-color: #28a745;
    height: 100%;
    border-radius: 5px;
}

.review-list h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.review {
    margin-bottom: 15px;
}

.review h4 {
    font-size: 16px;
    margin-bottom: 5px;
}
